	html{font-size: 100px;
	 margin:0 0 auto;	
	}
	body{      		
		margin:0 2 0 0;		
		width:95%;
		max-height: 100%;	
		font-size: 16px;
		font-weight:bold;  
		line-height:1.5;	
	}
	
	a{
		font-size: 16px;
	    color: #0000ff; 
	text-decoration:none;	
	}
	h2{
		
	
	}
	p{		
	white-space: pre-wrap!important;   
	word-wrap: break-word!important;		
	width:100%;
	max-height: 100%;
	
			
	}
	pre{ /*pre强制换行*/
width:98%;
border:#CCC solid 1px; padding:0px; background-color:#F9F9F9;
/*font-family:"Courier New", Courier, Arial; font-size:1.6rem; line-height:1.75;*/
white-space: pre-wrap!important;   /*保留空白，进行换行*/
word-wrap: break-word!important;   /*连续字符换行*/
/*white-space:normal!important;*/     /*忽略空白，进行换行*/
}
	 .cell{	
	   margin:1px;	
width: 100%; 	  
	
 padding:1px;
	  }
	.head{
	display:flex;	
	justify-content:space-between;
	align-items:center;
  background-color:#ffffee;	
  color:grey;   
	}
	.head-c{
	display:flex;
	justify-content:center;
	 padding:5px;
	 
	 border: 1px solid #CCC;
	}
	.head-c-p{	
	display:none;
	border: 1px solid #CCC;
	}
	.head-i{
display:flex;
justify-content:center;
border: 1px solid #CCC;
 padding:5px;
 

	}
	
	.row{
	display:flex;	
	flex:0 1 auto;	
   width: 100%; 
   min-width:100%   
   align-items:center;	
   
    }  


